@charset "utf-8";
/*
Reset
*/
@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*
Comments
*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background-color: #127c7e;
  min-width:600px;
  height: 100vh;
}

.chatbot-app {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5em;
  background-color: #e1e3e7;
  box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.6);
  padding: 0px 15px;
}

.header-and-contact {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 95%;
  z-index: 1;
}

.user-profile {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;

  z-index: 1;
}

.user-profile--name {
  margin-top: 5px;
}

.user-profile--picture img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.searchAndContact {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.user-contacts {
  background: white;
  height: 95%;
  overflow: auto;
  border-radius: 0px 0px 20px 20px;
}
.user-contacts::-webkit-scrollbar {
  display: none;
}

.contact-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  padding: 10px 0px;
  background: lightgrey;
}

.contact-search-bar input {
  border: 3px solid #127c7e;
  width: 65%;
  padding: 3px;
  margin-right: 10px;
  height: 20px;
}

.contact-search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #127c7e;
  background: #127c7e;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
}
.contact-search-bar button svg {
  fill: #fff;
}

.user-contacts--items {
  display: flex;
  align-items: center;
  padding: 3px;
  height: 65px;
  width: 100%;
}

.user-contacts--items--name {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  border-bottom: 1px lightgrey solid;
  margin-left: 15px;
}

.user-contacts--items--avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 10px;
}

.user-contacts li {
  list-style-type: none;
}

.chat-and-input {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.message-received--sender {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  height: 90%;
  overflow: scroll;
}

.chat::-webkit-scrollbar {
  display: none;
}

.input {
  height: 10%;
  padding: 15px 0px;
}

.input form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0px 10px;
}
.input form input {
  height: 45px;
  width: 100%;
  border: 3px solid #127c7e;
  margin: 0px 10px 0px 0px;
  padding-left: 10px;
}
.messageTextInput, .textInputArea{
  border-radius: 20px;
}

.input form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #127c7e;
  background: #127c7e;
  text-align: center;
  fill: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.message-received,
.message-sent {
  padding: 10px;
  margin: 10px;
  width: 40%;
  border-radius: 20px 20px;
  background: lightgrey;
}

.message-received--header {
  border-bottom: 1px solid rgb(166, 163, 163);
  padding-left: 15px;
  padding-bottom: 5px;
  font-weight: bolder;
}

.message-received-footer,
.message-sent-footer {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: small;
  margin-bottom: 5px;
}

.time-message {
  margin-left: 5px;
}

.message-sent {
  float: right;
  background: #DCF8C6;
  margin-left: left;
}

.message-received, .message-sent {
  clear: both;
}

.message-sent p,
.message-received p {
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
}

.bubble-container{
  width: 100%;
}

@media only screen and (max-width: 990px)  {
  .chatbot-app {
    flex-direction: column;
    padding: 20px;
  }

  .header-and-contact {
    width: 90%;
    height: 30%;
    flex-direction: row;
    border-radius: 20px;
    background: white;
    margin: 20px 0px 5px 0px;
    padding: 10px;
  }

  .user-profile {
    height: 100%;
    width: 30%;
    border-radius: 20px;
  }

  .searchAndContact {
    width: 70%;
    height: 100%;
  }

  .contact-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background: white;
    border-radius: 20px;
  }

  .contact-search-bar input {
    width: 75%;
  }

  .user-contacts {
    background: white;
    height: 90%;
    overflow: auto;
  }

  .chat-and-input {
    width: 90%;
    height: 70%;
    margin-top: 15px;
    border-top: 1px dashed grey;
    margin: 10px;
  }

  
  
}
